        
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    margin: 0;
    width: 100%;
    /* background: linear-gradient(300deg, rgba(49,121,231,1) 10%, rgba(49,121,231,1) 100%); */
    font-family: 'Itim', cursive;
}

/* ====================================== 
    FIRST PAGE STYLE
======================================== */

.bg-login {
    /* background: linear-gradient(300deg, rgba(49,121,231,1) 10%, rgba(49,121,231,1) 100%); */
    /* background: #F0F8FF; */
    background: #b2d9f0d5;
}

.register
{
    max-width: 60%;
    background: #fff;
    position: relative;
    margin: 20px auto;
    -webkit-box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
    box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
    border-radius: 15px;
}

/*--------------------------------------------------------------
# SCROLL BAR
--------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background-color: rgb(238, 238, 238);
}

::-webkit-scrollbar-thumb {
    background: #002244;
    border-radius: 15px;
}


/*
    ======================================
    
    ADMIN HOMEPAGE STYLE

    ========================================
*/

.bg-page {
    background: #EEEEEE;
}


/*
    ======================================
    
    TABLE - DASHBOARD PAGE STYLE

    ========================================
*/


.tab button.active 
{
    color: #fff;
    border-bottom: 4px solid #ffd943;
}

.tab button 
{
    background: inherit;
    color: #ffffff9c;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 4px solid transparent;
}

.tabcontent 
{
    display: none;
}